/**
 * This is style  
 *it contains neccesaary CSS styling(but not all)

 NOTE: ALL UI SCREENSHOT ARE IN THE SRC/RESOURCES/UI-ScreenShots folder
*/
.Header,.Footer,.GridBody,.GridHeader
{
    background-color: #304454;
    color: white;
}
p#mui-3,div#mui-2,.css-levciy-MuiTablePagination-displayedRows,.css-i4bv87-MuiSvgIcon-root,.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,.css-1249snu-MuiButtonBase-root-MuiButton-root.Mui-disabled 
{
    color: white;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid,.css-10qlrv2-MuiInputBase-root-MuiOutlinedInput-root
{
    background-color: white;
}
a{
    color: blue;
}
